h1{
    font-size: 50px;
}
div{
    text-align: center;
    margin: 20px;
    background-color:rgb(211, 21, 195);
    margin-top: 50px;
}
*{
    margin: 0;
    padding 0;
    box-sizing: border-box;
}
body{
    font-family:Arial,sans-serif;
    background-color:#f4f4f4;
    line-height: 1.6;
}

header{
    background: #35424a;
    color:#fffff;
    padding:5px;
    border-bottom: red 2px solid;
    border-top:red 2px solid;
}
header h1{
    
    margin-top: 10px;
    font-size: 24px;
}
header nav{
    float: right;
}
header nav ul{
   
    margin: 0;
    padding:0;

}
header nav ul li{
    display: inline;
    margin-left: 20px;
}
header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover{
    color: #161615;
}
#heading{
    text-align: center;
    font-size: 40px;
}
#Air{
    margin-top: 30px;
    
}
#heading1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#paragrap{

    padding:10px;
        margin-left:500px;
        margin-bottom:600px;
        padding:20px;
        position: absolute;
        top:830px;
}
#para{

        padding:10px;
        margin-left:500px;
        margin-bottom:500px;
        padding:20px;
        position: absolute;
        top:1380px;
}
#heading2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#heading3{
    text-align: center;
    margin-top: 30;
}
div,img{
    border-radius: 0%;
}

#lorem{
    padding: 10px;
    margin-left: 500px;
    margin-bottom: 500px;
    position: absolute;
        top:2040px;
}
#lorem1{
    padding:10px;
   margin-left: 500px;
   position: absolute;
   top:2650px;
}
#last{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#Home{
    margin-top: 30px;
    text-align: center;
}
.link{
    margin-left: 50px;
}

